@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    font-family:"Roboto", sans-serif;
    font-weight:500;
}

.body2 {
    margin: 10px;
}

.background{
    background-color:rgb(134, 134, 134);
}

.carouselbg{
    background-color:rgb(134, 134, 134);
}

.container{
    width:90%;
    height: 100%;
    margin: 0 auto;
    
}

header{
    background-color: #344407;
    height: 100px;
}

.logo{
    float: left;
    padding: 20px;
    width: 100px;
    height: 100px;
}

nav{
    text-align: center;
}

.clearfix{
    content:'';
    display: table;
    clear: both;
}


nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


nav li{
    display: inline-block;
    margin-left: 100px;
    padding-top: 25px;
    position: relative;
    right: 150px;

    position: relative;
}


.a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}


.a:hover{
    color: #f4d06f;
}


.a::before{
    content: '';
    display: block;
    height: 5px;

    background-color: #f4d06f;
    transition: all ease-in-out 250ms;
    
    position: absolute;
    bottom: 0;
    width: 0%;
}

.a:hover::before{
    width: 100%;

}

.carousel{
    border-radius:20px;

}


.button{
    border: none;
    background-color:#c09316;
    width:100px;
    height:50px;
    position: relative;
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;
    float: right;
    bottom: 55px;
}

.button:hover{
    background-color: #c09316;
    opacity: 0.7;
    transition: 0.3s ease 0s;
}

.formalign{
    width: 550px;
    height:auto;
    position: relative;
    left:30%;
    background-color:#686666;
    border-radius: 15px;
    padding: 15px 8px;
    margin-bottom: 20px;
}

.loginform{
    width: 550px;
    height:auto;
    position: relative;
    left:12%;
    top:55px;
    background-color:#686666;
    border-radius: 15px;
    padding: 15px 8px;
    margin-bottom: 20px;

}


.logintxt{
    color: white;

}

.loginhead{
    color: white;
    position: relative;
    left: 14%;
    top: 55px;

}

.warningtxt{
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight:bold;
    padding-bottom: 8px;
    text-transform:uppercase
}

p5{
    color: white;
    font-size: 35px;
    position: relative;
    left: 47%;
    text-decoration:underline;
}

.p5{
    color: white;
    font-size: 35px;
    position: relative;
    left: 45%;
    text-decoration: underline;
}

.loginbtn{
    background-color: rgb(143, 138, 138, 1)

}

.loginbtn:hover{
    background-color: rgb(143, 138, 138, 0.5)
}

.signupbtn{
    background-color: rgb(143, 138, 138, 1)

}

.signupbtn:hover{
    background-color: rgb(143, 138, 138, 0.5)
}

.anotherbutton{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    float: right;
    padding: 0 5px;
    position: relative;
}

.anotherbutton:hover{
    text-decoration: none;
    color: #363434; 
}


.anotherbutton::before{
    content: '';
    display: block;
    height: 5px;

    background-color: #363434;
    transition: all ease-in-out 250ms;
    position: absolute;
    bottom:0;
    width: 0%;
}

.anotherbutton:hover::before{
    width: 95%;
}


.carouselshopbtn{
    color: white;
    font-size: 25px;
    font-family:"Roboto", sans-serif;
    border: none;
    border-radius: 25px;
    background-color: rgb(78, 78, 78, 1);
    width: 250px;
    position: absolute;
    left: 262px;
    bottom: 15px;
    cursor: pointer;
}

.carouselshopbtn:hover{
    background-color: black;
    transition: all ease-in-out 300ms;
}

.dropdownbtn{
    background-color: transparent;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    bottom: 3px;
    
}

.dropdownbtn:hover{
    color: #f4d06f;
}


.dropdownbtn::before{
    content: '';
    display: block;
    height: 5px;

    background-color: #f4d06f;
    transition: all ease-in-out 250ms;
    
    position: absolute;
    bottom: 0;
    width: 0%;
}

.dropdownbtn:hover::before{
    width: 90%;

}

.dropdownbtnoptions{
    background-color: #344407;
    border-radius: 15px;
}

.dropdownmenutext{
    color: white;
    background-color: transparent;
    font-size: 25px;

}

.dropdownmenutext:hover{
    background-color: transparent;
    color: #f4d06f;
}

.check{
    background-color: white;
}

.carouselpos{
    padding-top: 25px;
}

.bodytext{
    color: white;
    font-size: 40px;
    text-decoration: underline;
}

.history{
    font-size: 21px;
    display: inline-block;
    width: 500px;
}

.siteinfo{
        font-size: 21px;
        display: inline-block;
        width: 500px;
}

.historyheader{
    padding-top: 15px;
    color: black;
    text-decoration: underline;
    text-transform:uppercase;
    position: relative;
    left: 30px;
}

.historybox{
    width: 650px;
    height: 400px;
    background-color: #f4d06f;
    position: relative;
    right: 100px;
    top: 12px;
    border-radius: 15px;
    color: black;
    font-size: 11px;
}

.sitebox{
    width: 650px;
    height: 400px;
    background-color: #f4d06f;
    position: relative;
    left: 100px;
    top: 12px;
    border-radius: 15px;
    color: black;
    font-size: 11px;
}

.logininfo{
    position: relative;
    left: 53%;
    bottom: 300px;
    text-decoration: underline;
    font-size: 45px;
    padding-top: 25px;

}

.loginlist{
    position: relative;
    left: 53%;
    bottom: 250px;
    font-size: 20px;
}


.shop{
    background: transparent;
}

.specialized{
    font-size: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: green;
    position: relative;
    left: 45%;
    top: 10px;
    background-color: red;
}


.carouselsize{
    width: 600px;
    height: 600px;
    position:relative;
    top: 35px;
    left: 35px;

}

.carousel-control-prev2{
    top: 76%;
    left: 10%;
    background-color: #344407;
    width: 50px;
    height: 30px;
    border-radius:5px;
}

.carousel-control-next2{
    top:76%;
    right: 68%;
    background-color: #344407;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.heading{
    font-size: 30px;
    position: fixed;
    left: 63%;
    bottom: 75%;
    text-decoration:underline;
}

.description{
    font-size: 19px;
    position: fixed;
    width: 500px;
    left: 56%;
    top: 26%;
}

.buynow{
    border: none;
    background-color:#d6a419;
    width:180px;
    height:50px;
    position: fixed;
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;
    float: right;
    top: 81%;
    left: 14.5%;
}

.buynow:hover{
    background-color: #d6a419;
    opacity: 0.7;
    transition: 0.3s ease 0s;
}

.goback{
    border: none;
    background-color:#d6a419;
    width:150px;
    height:50px;
    position: fixed;
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;
    float: right;
    top: 17%;
    left: 88%;
}

.goback:hover{
    background-color: #d6a419;
    opacity: 0.7;
    transition: 0.3s ease 0s;
}

.text {
    position: relative;
    width: 410px;
    height: 350px;
    left: 800px;
    bottom: 270px;
}

.text__img {
    display: block;
    width: 100%;
}

.text__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 10px;

}

.text__overlay--blur {
    backdrop-filter: blur(5px);
}

.text__overlay--primary {
    background: #009578;
}

.text__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.text__overlay:hover {
    opacity: 1;
}

.text__overlay:hover > * {
    transform: translateY(0);
}

.text__title {
    font-size: 2em;
    font-weight: bold;
}

.text__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.benefits{
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.button234{
    border: none;
    background-color:#c09316;
    width:100px;
    height:50px;
    position: relative;
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;
    float: right;
    bottom: 55px;
}

.button234:hover{
    background-color: #c09316;
    opacity: 0.7;
    transition: 0.3s ease 0s;
}
